.header {
  text-align: center;
  line-height: 1.3;
}
.header-link__wrapper {
  display: inline-flex;
  align-items: center;
  margin: 8rem auto;
  padding: 0.8rem;
  background-color: var(--ligth-gray);
  font-size: 14px;
  border-radius: 2rem;
  color: var(--secondary-text-color);
}
.header-link__span {
  letter-spacing: 1px;
  font-size: 10px;
  padding: 0.7rem 1.2rem;
  background-color: #283734;
  border-radius: 2rem;
  color: var(--primary-color);
  margin-right: 1rem;
}
.header-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-link:hover {
  color: var(--primary-color);
}
.arrow-icon {
  font-size: 10px;
  margin-left: 1rem;
  margin: auto 0 auto 1rem;
}
.header__title {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 3rem;
}
.header__caption {
  max-width: 80rem;
  width: 100%;
  margin: auto;
  font-size: 2rem;
  color: var(--secondary-text-color);
}
.header__caption span {
  color: var(--white);
}

/* Header Carts */
.header-carts {
  max-width: 92rem;
  margin: 4rem auto;
  overflow: hidden;
  line-height: 1.5;
}
.header-cart {
  position: relative;
  width: 45rem;
  height: 45rem;
  overflow: hidden;
  background-color: var(--ligth-gray);
  z-index: 1;
}
.header-cart:first-child {
  margin-right: 2rem;
}
.first-row-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-cart__bg {
  position: absolute;
  top: -9rem;
  left: -13rem;
  right: 0;
  bottom: 0;
  width: 80rem;
  height: auto;
  z-index: -1;
}
.header-cart__info {
  position: absolute;
  top: 23rem;
  left: 0;
  right: 0;
  padding: 5rem;
}
.header-cart__title {
  font-size: 3.5rem;
  font-weight: bold;
}
.header-cart__caption {
  font-size: 1.8rem;
  color: var(--secondary-text-color);
  margin-bottom: 1rem;
}
.header-cart__link {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
}

/* Second Row Cart */
.second-row-header-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  margin: 2rem auto;
  background-color: var(--ligth-gray);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.second-header-cart__bg {
  position: absolute;
  top: -8rem;
  left: -10rem;
  right: 0;
  bottom: 0;
  width: 60rem;
  height: auto;
  z-index: -1;
}
.second-header-cart__info {
  width: 50rem;
  text-align: left;
  margin-left: 50rem;
}
.second-row-header-cart__title {
  font-size: 3.5rem;
  font-weight: bold;
}
.second-row-header-cart__caption {
  font-size: 1.8rem;
  color: var(--secondary-text-color);
  margin-bottom: 1rem;
}
.second-row-header-cart__link {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
}

/* Hover */
.header-cart__link:hover,
.second-row-header-cart__link:hover {
  transition: color linear 300ms;
  color: var(--primary-color);
}
.header-cart:hover {
  margin-top: -0.5rem;
}
