.footer {
  background-color: var(--secodary-bg-color);
  padding: 5rem 0;
  overflow: hidden;
}

/* Footer First Column  */
.footer__logo img {
  width: 20rem;
}
.footer__main-links {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}
.footer__main-links a {
  margin: 1rem 0;
  color: var(--secondary-text-color);
}
.footer__logos a {
  font-size: 1.2rem;
  margin-right: 0.8rem;
  padding: 0.3rem 0.5rem;
  border-radius: 100%;
  color: var(--secodary-bg-color);
  background-color: var(--secondary-text-color);
}

/* Footer List Items */
.footer__list-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__list-items a {
  margin: 1rem 0;
  color: var(--secondary-text-color);
}
.footer__title {
  margin: 1rem 0;
}

/* Footer Second Row */
.footer__second-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem 0;
}
.footer__second-row span,
.footer__second-row a {
  color: var(--secondary-text-color);
  margin: 2rem;
}

/* Hover */
.footer__main-links a:hover,
.footer__list-items a:hover,
.footer__second-row a:hover {
  color: var(--white);
  transition: color 300ms ease-in;

}

.footer__logos a:hover {
  background-color: var(--primary-color);
  transition: all 300ms ease-in;

}
